body{
    text-align:center;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)), url("gamelogo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
}
.numbers{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    opacity: 40%;
    color:black;
     
}

.btn{
    height:200px;
    width:200px;
    border:10px solid rgb(41, 35, 35);
    border-radius:20%;
    margin: 2rem;
}



.btn-container{
    display: flex;
    justify-content: center;
}
 

.red{
  background-color: #eb3434;
} 

.yellow{
     background-color: #11d3d6;
    
}
.green{
      background-color: #39d611;
}
.purple{
      background-color:#d611bc;
}  

.flash{
    background-color: black;
}

.userFlash{
    background-color: rgb(236, 245, 236);
}  

.flash-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  opacity: 0;
  pointer-events: none;
  z-index: 999;
}